<div class="header_wrapper">
    <div class="home_header">
        <div class="header_one">
            <div><span>MOROCCANOFTHEWORLD.COM</span></div>
            <div class="search"><input type="search"><i class="fas fa-search"></i></div>
        </div>
        <div class="header_two">
            <div><span (click)="changeOption(0)" [ngClass]="{'clicked':option === 0}">Home</span></div>
            <div><span (click)="changeOption(1)" [ngClass]="{'clicked':option === 1}">ATLAS SYNERGY</span></div>
            <div><span (click)="changeOption(2)" [ngClass]="{'clicked':option === 2}">MEDIA INSIGHT</span></div>
            <div><span>PATRIMOINE</span></div>
            <div><span>DONATION PROJECTS</span></div>
            <div><span>ASSOCIATIONS</span></div>
            <div><span>ART AND CULTURE</span></div>
        </div>
    </div>
</div>
<div class="img" *ngIf="option == 0">
    <div class="description"></div>
    <div class="img_content"></div>
    <div class="welcome">
        Welcome to MoroccanOfTheWorld, here you can exchange with moroccans across the world, share your experiences,
        find new opportunities, and more ...

    </div>
</div>

<div class="atlas" *ngIf="option == 1">

</div>

<div class="media" *ngIf="option == 2">

</div>

<div class="content_wrapper">
    <div class="content_title">
        What do we offer ?
    </div>
    <div class="content" >
        <div class="two">
            <div class="hub">
                <div class="title"><span>Hub Technologies</span></div>
                <div class="hub-img3"></div>
                <div>
                    <ul>
                        <li><i class="fas fa-caret-right"></i>Innovate</li>
                        <li><i class="fas fa-caret-right"></i>Optimize</li>
                        <li><i class="fas fa-caret-right"></i>Modernize</li>
                    </ul>
                </div>
            </div>
            <div class="hub">
                <div class="title"><span>Hub Entrepreneurship</span></div>
                <div class="hub-img2"></div>
                <div>
                    <ul>
                        <li><i class="fas fa-caret-right"></i>Invest</li>
                        <li><i class="fas fa-caret-right"></i>Look for Peers</li>
                        <li><i class="fas fa-caret-right"></i>Look for a job</li>
                        <li><i class="fas fa-caret-right"></i>Boost up my start up</li>
                        <li><i class="fas fa-caret-right"></i>Look for financement</li>
                        <li><i class="fas fa-caret-right"></i>Look for market</li>
                        <li><i class="fas fa-caret-right"></i>Find suppliers</li>
                    </ul>
                </div>

            </div>
            <div class="hub">
                <div class="title"> <span>Hub Skills</span></div>
                <div class="hub-img1"></div>
                <div>
                    <ul>
                        <li><i class="fas fa-caret-right"></i>Deposit my CV</li>
                        <li><i class="fas fa-caret-right"></i>Offer conferences</li>
                        <li><i class="fas fa-caret-right"></i>Offer mooks cours</li>
                        <li><i class="fas fa-caret-right"></i>Look for peers</li>
                    </ul>
                </div>
            </div>
        </div>

    </div>
    <div class="logo_back l1"></div>
    <div class="logo_back l2"></div>
    <div class="logo_back l3"></div>
    <div class="logo_back l4"></div>
    <div class="logo_back l5"></div>
    <div class="logo_back l6"></div>
    <div class="logo_back l7"></div>
    <div class="logo_back l8"></div>
    <div class="logo_back l9"></div>
    <div class="logo_back l10"></div>
</div>